@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #511a75;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;
}

.header{
    background: color #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.form{
    padding: 30px 40px;
}
.form-inline{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    padding: 10px 40px;
    margin-bottom: 10px;
}
.form-inline small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}

.form-control.success input{
    border-color: yellowgreen;
}
.form-control.error input{
    border-color: tomato;
}
.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    color: yellowgreen;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: tomato;
    visibility: visible; 
}
.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.form-control.error small{
    visibility: visible;
    color: tomato;
}
.form button{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    color: white;
    display: block;
    font-size: 15px;
    padding: 10px;
    width: 100%;

}
